.App {
  margin: 30px auto;
  width: 800px;
}

.issues_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.todo_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(198, 193, 193);
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.issues_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  span {
    font-weight: 600;
    width: fit-content;
  }
}

.fetching {
  margin: 10vh auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #8e8e93;
  animation: search 1.3s alternate infinite;
  align-self: center;
}

@keyframes search {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

.base_repo_info_wrapper {
  margin: 20px 10px;

  .links_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    color: rgb(72, 153, 240);

    .stars_wrapper {
      display: flex;
      align-items: center;
      color: rgb(0, 0, 0);

      svg {
        width: 24px;
        height: 24px;
        color: rgb(236, 172, 34);
      }
    }
  }
}
